<nav>
  <%= link_to 'Descendants Index', descendents_path %>
  <%= link_to 'Missions Index', missions_path %>
  <%= link_to 'Grandchildren Index', grandchildren_path %>
</nav>

<h1>All about <%= @grandchild.full_name %></h1>