<nav>
  <%= link_to 'Descendants Index', descendents_path %>
  <%= link_to 'Missions Index', missions_path %>
</nav>

<h1>Welcome to the descendants of Marlane & Don Porter page!</h1>
<ul>
  <li><a href="/descendents">List of descendants</a></li>
  <li><a href="/descendents/new">Add a new descendant</a></li>
  <li><a href="/missions">List of missions</a></li>
  <li><a href="/missions/new">Add new missions</a></li>
</ul>