<nav>
  <a href="/descendents">Descendants Index</a>
  <a href="/missions">Missions Index</a>
</nav>

<form action="/descendents/<%= @descendent.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH"/>

  <h1>Edit <%= @descendent.full_name %>'s Information</h1>
  <label for="fname">First name:</label><br>
  <input type="text" name="first_name" id="fname"/><br/>

  <label for="lname">Last name:</label><br>
  <input type="text" name="last_name" id="lname"/><br/>

  <label for="bdate">Birthday:</label><br>
  <input type="date" name="birthday" id="bdate"/><br/>

  <p>Allergies?</p>
  <input type="radio" name="allergies" value="true" id="yallergies">
  <label for="allergies">Yes</label><br>
  <input type="radio" name="allergies" value="false" id="nallergies">
  <label for="allergies">No</label><br>

  <label for="lang">Languages:</label><br>
  <input type="number" name="languages" id="lang"/><br/>

  <p>Married?</p>
  <input type="radio" name="married" value="true" id="ymarried">
  <label for="married">Yes</label><br>
  <input type="radio" name="married" value="false" id="nmarried">
  <label for="married">No</label><br>

  <p>Grandchildren?</p>
  <input type="radio" name="grandchildren" value="true" id="ygrandchildren">
  <label for="grandchildren">Yes</label><br>
  <input type="radio" name="grandchildren" value="false" id="ngrandchildren" checked>
  <label for="grandchildren">No</label><br/>
  <input type="submit" value="Update <%= @descendent.full_name %>'s Info"/>
</form>