<h1>These are the list of descendants from Marlane & Don Porter:</h1>
<ul>
  <% @descendents.each do |descendent| %>
  <li><a href="/descendents/:id"><%= descendent.full_name%></a></li>
  <% end %>
</ul>