<nav>
  <a href="/descendents">Descendants Index</a>
  <a href="/missions">Missions Index</a>
</nav>

<h1>These are the list of descendants from Marlane & Don Porter:</h1>
<ul>
  <% @descendents.each do |descendent| %>
  <li><a href="/descendents/<%= descendent.id %>"><%= descendent.full_name%></a> - Created at: <%= descendent[:created_at] %></li>
  <% end %>
</ul>

<p><a href="/descendents/new">New Descendent</a></p>